.info-section{
    color: rgb(218, 218, 218);
    width: clamp(100px, 100%, 800px);
    padding: 36px 24px;
    margin: auto;
    text-align: left;
}
.info-section ol{
    text-align: left;
}
.info-section h2{
    margin-top: 50px;
    border-bottom: 2px solid gainsboro;
    padding-bottom: 8px;
}
.info-section h1{
    text-align: center;
}